@import "config";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	place-items: center;
	height: 100vh;
	font-family: "Orbitron", sans-serif;
	font-size: 1.1rem;
}
header {
	text-align: center;

	h1 {
		padding-bottom: 0.2em;
		font-size: 3rem;
		color: $dark;
	}

	h2 {
		color: lighten($dark, 10%);
	}
	h3 {
		padding-top: 1em;
		color: lighten($dark, 20%);
	}
}

main {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
}

.calculator {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
	grid-column-start: 2;
	background-color: $light;
	padding: 2em;
	border-radius: 3em;
	box-shadow: 4px 13px 29px 2px rgba(186, 186, 186, 1);
}

.screen {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	grid-column: 1/6;
	background-color: $dark;
	margin: 1em 0.5em;
	padding: 0.5em 1em;
	color: white;
	font-size: 2rem;
	border-radius: 2em;
}

.side-functions {
	grid-column: 4/6;
	grid-row: 3/5;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.key {
	background-color: $secondary-color;
	border: none;
	margin: 0.5em;
	padding: 1em;
	border-radius: 2em;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.1rem;
	max-width: 5em;

	&:hover {
		background-color: lighten($secondary-color, 10%);
	}

	&:active {
		scale: 0.95;
	}
}

.key-off {
	background-color: lighten($secondary-color, 10%) !important;
	pointer-events: none;
}

.key-function {
	background-color: darken($secondary-color, 25%);

	&:hover {
		background-color: darken($secondary-color, 15%);
	}
}

.wide {
	grid-column: span 2;
	max-width: 100%;
}

.equals {
	grid-column: 4/6;
	grid-row: 5/7;
	background-image: url("../assets/images/cat.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-color: $light !important;
	max-width: 100%;

	&:hover {
		scale: 0.95;
		background-color: inherit;
	}

	&:active {
		scale: 0.9;
	}
}

footer {
	img {
		width: 2em;
		margin-left: 0.5em;
	}
}

a {
	display: flex;
	align-items: center;
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}
